<app-cabecera></app-cabecera>

  <div class="container-fluid full">
    <div class="row">
        <div class="col">
            <div class="hero-text">
                <h1 style="font-size:50px">Sala de Juegos</h1>
                <p>Patricio Attie</p>
                <a href="https://github.com/patoattie"target="_blank">en GitHub <i class="fa fa-github"></i></a>
                <a  routerLink="/QuienSoy" >Quien Soy? <i class="fa fa-user"></i></a>
            </div>
        </div>
    </div>
  </div>
  